.coffee__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border-radius: 5px;
}
.coffee__description h1,h2,h3,p{
    margin: 10px;
}
.bottom__description .about>.about__categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: rgb(183, 183, 183);
}
.bottom__description .about>.about__categories>p{
    color: white;
    font-size: 16px;
}
.bottom__description .about>.about__categories>p:nth-child(2),p:nth-child(3){
    padding: 10px;
    border-left: 2px solid black;

}
.top__part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.like__back{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.like__back button{
    border-radius: 50%;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.bottom__name{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    color: #ffffff;
}
.text{
    margin-top: 10px;
}
.text>p{
    margin-top: 10px;
}
.rating{
    display: flex;
    background-color: #C18553;
    border-radius: 20px;
    align-items: center;
    padding: 3px;
    margin-right: 10px;
    color: white;
    margin-bottom: 5px;

}
.size__buttons {
    display: flex;
    border-radius: 10px;

}
.size__buttons>*{
    padding: 5px ;
    margin: 10px ;
    font-size: 20px ;
    width: 33.33% ;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #C18553;
}
.bottom__add__to__cart{
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.bottom__description{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    height: 100%;
    border-radius: 50px 50px 0 0;
    background-color: white;
}